<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>599903397080-6uplf8v2i9crvft8j7inq8eks5v0ilc8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.599903397080-6uplf8v2i9crvft8j7inq8eks5v0ilc8</string>
	<key>API_KEY</key>
	<string>AIzaSyDfO806O1GAHG7UAlbg5E828uLLCy2C4LI</string>
	<key>GCM_SENDER_ID</key>
	<string>599903397080</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.intelligentcounter.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>intelligentcounter-29709</string>
	<key>STORAGE_BUCKET</key>
	<string>intelligentcounter-29709.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:599903397080:ios:3a99e2de7fcfae74d3e3ad</string>
	<key>DATABASE_URL</key>
	<string>https://intelligentcounter-29709-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>